

@media only screen and (min-width: 375px){
    main1, main12{
        display: none;
    }
}


#outline{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5vh 20vh 20vh auto 15vh;
    grid-gap: 20px;
    grid-template-areas: 

    "nv nv"
    "hd hd"
    "se1 se1"
    "mn mn"
    "ft ft";
}

#outline2{

    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5vh 20vh 35vh 35vh 35vh 35vh 35vh 35vh 15vh;
    grid-gap: 20px;
    grid-template-areas: 

    "nv nv"
    "hd hd"
    "se22 se22"
    "se21 se21"
    "se23 se23"
    "se25 se25"
    "se24 se24"
    "se26 se26"
    "ft ft";
}


.background{
    opacity: 0.5;
}

header{
    display:flex;
    flex-direction: column;
    grid-area: hd;
    background-color: transparent;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 20px;
}

.headertitel{
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    margin-bottom: 0px;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-style: normal;
    text-shadow: 5px 5px 10px rgb(251, 234, 116);
}

.subtitel{
    font-size: 1rem;
    margin-top: 0;
    text-shadow: 5px 5px 10px rgb(251, 234, 116);
    font-family: "Shadows Into Light", cursive;
}

.menu{
    height: 100vh;
    width: 80vw;
    background-color: rgb(251, 234, 116);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgb(251, 234, 116);
    z-index: 10;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

ul {list-style-type:none}


.menu-button{
    cursor: pointer;
    display: inline;
    z-index: 10;
    position: fixed;
}

.menu-button span.material-symbols-outlined{
    font-size: 2.5rem;
    z-index: 1000; 
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

nav{
    grid-area: nv;
    grid-column-start: 1;
}

footer{
    grid-area: ft;
    background-color: transparent;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align:left;
    width: 100%;
}

section{
    grid-area: se1;
    background-color: transparent;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    text-align:left;
    align-items: center;
    padding: 30px;
    width: 100%;
}


section21{
    grid-area: se21;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}

section22{
    grid-area: se22;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}

section23{
    grid-area: se23;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}

section24{
    grid-area: se24;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}


section25{
    grid-area: se25;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}

section26{
    grid-area: se26;
    background-color: transparent;
    display: flex;
    justify-content:center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
}

main3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: mn;
    background-color: transparent;
    grid-gap: 20px;
}


.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Seasons{ 
    position: relative;
    text-align: center;
    color: white;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    border-radius: 8px;
}


.image{
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    object-fit: cover;
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 7px 7px 7px;
}

    .polaroid {
    background-color: #fff;
    padding: 15px 15px 190px;
    display: inline-block;
    box-shadow: 5px 7px 4px #888888;
    text-align: center;
  }

  .figcaption {
    color: #000;
    text-align: center;
  }

  .flowerimage {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }


@media only screen and (min-width: 1024px){
    section21, section22, section23, section24, section25, section26, main3{
        display: none;
    }

    #outline{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5vh 20vh 20vh auto auto 15vh;
        grid-gap: 20px;
        grid-template-areas: 
    
        "nv nv"
        "hd hd"
        "se1 se1"
        "mn1 mn1"
        "mn12 mn12"
        "ft ft";
    }
    main1{
        display: flex;
        flex-direction: row;
        justify-content:  space-evenly ;
        grid-area: mn1;
        background-color: transparent;
        grid-gap: 20px;
        
    }

    main12{
        display: flex;
        justify-content:  space-evenly ;
        grid-area: mn12;
        background-color: transparent;
        grid-gap: 20px;
        flex-direction: row;
    }

}