

#outline{
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-rows: 20vh 20vh auto 10vh;
    grid-gap: 20px;
    grid-template-areas: 
    
    "hd hd"
    "se se"
    "mn mn"
    "ft ft";
}

header{
    display:flex;
    grid-area: hd;
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
}

.headertitel{
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
    padding: 0%;

}
footer{
    grid-area: ft;
    background-color: deepskyblue;
}

section{
    grid-area: se;
    background-color: peachpuff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: mn;
    background-color: hotpink;
}
